# Cypress folders
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
cypress.env.json
.env
.env.*

# Build and cache
dist/
coverage/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.log
